/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/03/2016, 10:53:37 AM
    Author     : FNARWin
*/
.center_div{
    text-align: center;
}
.img_ajax{
     margin: auto;
}
.controlito{
    width: 20%;
  }